.item {
  background-color: #161616;
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  width: 17rem;
  aspect-ratio: 1/2;
  border-radius: 1rem;

  .image-container {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 1rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .content-detail {
    height: 13rem;
  }

  .order-btn {
    background-color: #1e90ff;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #f0f0f0;
    padding: 0 1rem;
    border-radius: 1rem;
    cursor: pointer;
  }
}
