.order-item {
  display: flex;
  padding: 1rem;
  gap: 0.75rem;

  .order-img {
    height: 11rem;
    aspect-ratio: 1/1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .counter {
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background: #1e8fff;
    outline: none;
    border: none;
    margin: 0 0.2rem;
    color: #f0f0f0;
    border-radius: 0.2rem;
    cursor: pointer;
  }
}
